#dos-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
}

#dos-table {
    width: 70%;
    border-collapse: collapse;
    background-color: var(--color-soft-white);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    margin: 0 auto;
}

#dos-table-head tr th {
    background-color: var(--secondary-color-background);
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-xs);
}

#dos-table tbody tr {
    border-bottom: 1px solid var(--color-brown-silver);
}

#dos-table tbody tr:nth-child(even) {
    background-color: var(--color-french-gray);
}

#dos-table td {
    padding: var(--spacing-sm);
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-dark-purple);
}

#dos-table a {
    color: var(--color-dark-purple);
    text-decoration: none;
    font-weight: var(--font-weight-normal);
    transition: color var(--transition-xs);
}

#dos-table a:hover {
    color: var(--color-candy-red);
}

#dos-table td ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dos-table td ul li {
    margin-bottom: var(--spacing-xxs);
}

#dos-table tbody tr:hover {
    background-color: var(--color-brown-silver);
    transition: background-color var(--transition-f);
}

/*

<div id="dos-footer">
    <div class="table-key">
        <h3>Key:</h3>
        <ul>
            <li><span class="key-dot">🔥</span> High Priority</li>
            <li><span class="key-dot">🌟</span> Medium Priority</li>
            <li><span class="key-dot">🌱</span> Low Priority</li>
        </ul>
    </div>
    <p>For more information on my projects, please visit my <a href="/random-project">Random Project</a> page.</p>
</div>

*/

#dos-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-lg);
}

.table-key {
    display: flex;
    gap: var(--spacing-xs);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-key h3 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.table-key ul {
    display: flex;
    gap: var(--spacing-xs);
}

.table-key ul li {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxs);
}

.key-dot {
    font-size: var(--font-size-md);
}

#dos-footer p {
    font-size: var(--font-size-sm);
    text-align: center;
}

#dos-footer a {
    transition: color var(--transition-xs);
    color: var(--color-text);
    font-variant: small-caps;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#dos-footer a:hover {
    color: var(--color-candy-red);
}

@media (max-width: var(--breakpoint-md)) {
    #dos-table {
        font-size: var(--font-size-xs);
    }

    #dos-table td,
    #dos-table th {
        padding: var(--spacing-xs);
    }
}

@media (max-width: var(--breakpoint-sm)) {
    #dos-table {
        font-size: var(--font-size-xxs);
    }

    #dos-table td,
    #dos-table th {
        padding: var(--spacing-xxs);
    }
}
