#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--secondary-color-background);
    color: var(--color-text);
    
    height: var(--height-footer);
}

#footer-cr-link {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 700;
}