#main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-text);

    position: sticky;
    top: 0;
    z-index: var(--z-index-md);
    
    padding: 1vw 2vw 0;
    height: fit-content;

    & #theme-toggle {
        cursor: pointer;
        background-color: var(--color-text);
        min-width: var(--font-size-xl);
        min-height: var(--font-size-lg);
        border-radius: var(--border-radius-md);
        border: none;
        padding: var(--spacing-xxs);
        transition: transform var(--transition-f) ease;

        &:hover, &:focus, &:active {
            transform: scale(1.1);
        }

        & svg {
            fill: var(--secondary-color-background);
            display: block;
            margin: auto;
            width: var(--font-size-sm);
            height: var(--font-size-sm);
        }
    }
}

#main-navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-md);

    background-color: var(--secondary-color-background);
    border-radius: 25px;
    padding: var(--spacing-sm);

    list-style: none;

    & .main-navbar-item a {
        color: var(--color-text);
        text-decoration: none;
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--border-radius-sm);

        &.active {
            border-bottom: 2px solid var(--color-text);
        }

        &:hover, &:focus, &:active {
            color: var(--secondary-color-background);
            background-color: var(--color-text);
        }
    }
}

.nav-link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5vw 1vw;
}

/* WELCOME SECTION STYLES */
#welcome-section {
    height: 95dvh;
    color: var(--color-text);
    text-transform: lowercase;
    letter-spacing: 5px;

    display: flex;
    flex-flow: column wrap;
    place-content: flex-end;
    align-items: flex-end;

    margin: calc(-6vh - 2vw) 2vw 0;
    padding-top: 0;
}

#welcome-section.active-section {
    background-color: transparent;
}

#welcome-section.stationary {
    height: min-content;
}

#w-section-introduction {
    font-size: 2rem;
    transform: translate(-10%, -10%);
    transition: transform 1.5s ease;
    padding: 0;
}

#w-section-sub-intro {
    padding-bottom: 1vw;
}

/* sticky welcome section styles */
#w-section-introduction.sticky {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(2.1vw, 2.2vh);
    transition: transform 1.5s ease;

    background-color: var(--secondary-color-background);
    border-radius: 25px;
    font-size: 1rem;
    padding: .5vw 1vw;

    z-index: var(--z-index-h);
}

#w-section-name {
    color: var(--color-candy-red);
}