#find-me-social-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;

    width: 100%;
}

.find-me-social {
    display: grid;
    justify-items: center;
    align-items: center;

    border-radius: var(--border-radius-xl);
}

.find-me-links-brand {
    font-size: 8rem;
}

.find-me-links-brand,
.find-me-links-description {
    color: var(--color-text);
    transition: all var(--transition-f) ease;
    text-decoration: none;
}

.find-me-links-brand:hover,
.find-me-links-brand:focus,
.find-me-links-brand:active,
.find-me-links-description:hover,
.find-me-links-description:focus,
.find-me-links-description:active {
    background-color: var(--color-text);
    color: var(--secondary-color-background);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-md);
}

.find-me-links-header {
    font-size: 1.2rem;
}

.find-me-links-description {
    font-size: 1rem;
}

.find-me-links-description:hover {
    font-weight: 600;
}

@media(max-width: 800px) {
    #find-me-social-holder, #project-tile-holder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .find-me-social {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        width: min-content;
    }
}