<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="./../assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./../assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="./../assets/favicon/site.webmanifest">
        <title>Page | Final Project</title> <!-- Change the title of the page to appropriate name -->
        <link rel="stylesheet" href="../styles/global/styles.css"> <!-- Link the global css stylesheet to each html page (modify path as needed Ricki!!) -->
        <script src="../script/global/main.js" defer></script> <!-- Link the global js script to each html page -->
        <script src="../script/global/nav.js" defer></script> <!-- Link the global js script to each html page -->
    </head>
    <body id="template"> <!-- Add an id attribute to the body element. -->
        <header id="main-header">
            <h1 id="main-navbar-heading">Final Project</h1>
            <nav id="main-navbar">
                <ul id="main-navbar-list">
                    <li class="main-navbar-item"><a href="/">Home</a></li>
                    <li class="main-navbar-item"><a href="/about">About</a></li>
                    <li class="main-navbar-item"><a href="/contact">Contact</a></li>
                    <li class="main-navbar-item"><a href="/random-project">Random Project</a></li>
                </ul>
            </nav>
        </header>

        <main id="main-body">
            <h2>Template</h2>
        </main>

        <footer id="main-footer">
            <p id="footer-cr-statement">
                Copyright &copy; 2024 &nbsp;<a id="footer-cr-link" href="https://github.com/rickibeckless" target="_blank" rel="noopener nofollow noreferrer" title="Ricki Beckless GitHub">Ricki Beckless.</a> &nbsp;All rights reserved.
            </p>
        </footer>
    </body>
</html>