#random-project-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: var(--spacing-md);
    margin: var(--spacing-md);
    background-color: var(--secondary-color-background);
    border: 1px solid var(--color-french-gray);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-md);
}

.project-image-container {
    width: 100%;
    /* height: 30vh; */
    overflow: hidden;
    border-radius: var(--border-radius-sm);

    transition: all var(--transition-f) ease-in-out;
}

.project-image-container:hover {
    box-shadow: var(--box-shadow-lg);
    height: unset;
    overflow: unset;
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
}

.project-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--spacing-xxs);
    text-align: center;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-skill {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-french-gray);
    border-radius: var(--border-radius-sm);
}

.project-date {
    display: flex;
    justify-content: space-between;
}

.project-start-date,
.project-end-date {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    border: 1px solid var(--color-french-gray);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-xs);
    margin: var(--spacing-xxs) var(--spacing-xs);
}

.project-title,
.project-skills,
.project-date,
.project-status,
.project-content,
.project-description,
.project-author,
.project-links {
    margin: var(--spacing-xs) 0;
}

.project-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    line-height: 1.5;
    transition: all var(--transition-f) ease-in-out;
    cursor: pointer;
}

.project-description:hover {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
    padding-left: var(--spacing-sm);
    border-left: 5px solid var(--color-text);
}

.project-author {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    text-align: end;
    font-variant: small-caps;
}

.project-links {
    display: flex;
    justify-content: center;
}

.project-link {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-french-gray);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    color: var(--color-text);
}

.project-link:hover {
    background-color: var(--color-text);
    color: var(--secondary-color-background);
}

